.card{
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
  border: 2px solid darkslateblue;
  background-color: slateblue;
}

.image{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.description{
  border: 1px solid black;
  margin: 2px;
  padding: auto;
}
.head{
  border: 1px solid black;
  margin: 2px;
  padding: auto;
}
