.card{
    color: snow;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    margin-left: 340px;
    margin-right: 200px;
    margin-bottom: 30px;
    border: 2px solid rgb(47, 33, 88);
    background-color: slateblue;
}

.image{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(250, 246, 246);
}

.description{
    border: 1px solid rgb(247, 244, 244);
    margin: 2px;
    padding: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.head{
    border: 1px solid rgb(250, 247, 247);
    margin: 2px;
    padding: auto;
    padding-bottom: 12px;
    color: wheat;
    font-size: large;
}